
 

.logotype-web{
    color: var(--IRIS, #4D5AE5);
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
        line-height: 1.17

 
}
  
.logotype{
    color: var(--NAVY-BLUE, #4d5ae5 );
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
        margin-right: 76px;
         
}

.span{
    color: #2e2f42;
}

.menu-link{
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    
    color: #2E2F42;
        /* Body Medium */
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
        padding: 24px 0;
        display: block;
         
            
        

}




.current{
    color: #404bbf;
}

.menu-link.current::after {
     
    content: '';
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;

}

.menu-link:hover{
    color: var(--OCEAN, #404bbf);
}

.address{
    font-style: normal;
    margin-left: auto;
}


.contacts-address{
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--SLATE, #434455);
        /* Body */
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}

.contacts-address:hover{
    color: var(--OCEAN, #404bbf);
        /* Body */
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.32px;
        }

    .basic{
        font-family: 'Roboto', sans-serif;
        background: #FFF;
        color: #434455;
    }

    .title{
        color: var(--WHITE, #FFF);
            text-align: center;
            /* Header 1 */
            font-family: 'Roboto', sans-serif;
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: 60px;
            /* 107.143% */
            letter-spacing: 1.12px;
            line-height: 1.07;
            max-width: 496px;
    }
    .header-background{
        max-width: 1440px;
         background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office\ 1.jpg);
                background-size: cover;
            padding: 188px 0;
           
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            
            
    }

     
        .registration{
             
            background: var(--IRIS, #4D5AE5);
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #ffffff;
            cursor: pointer;
            display: block;
            min-width: 169px;
            height: 56px;
            border: none;
            border-radius: 4px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

                 
    }

    .button:hover{
        background-color: #404BBF
    }

    .registration:hover{
        background-color: #404BBF;
         
         

    }


    .benefits{
        padding: 120px 0;
         

    }

        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }

   
             .description{
             display: flex;
              gap: 24px;
}

     .li-benefits{
        width: calc((100% - 72px) / 4);
     }


     .kinds{
        margin-bottom: 8px;
     }














    .kinds{
        color: var(--NAVY-BLUE, #2E2F42);
            /* Header 3 */
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 120% */
            letter-spacing: 0.4px;
    }

    .description{
        color: var(--SLATE, #434455);
            /* Body */
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.32px;
    }

    .team{
        background: var(--CLOUD, #F4F4FD);
        padding: 120px 0;
    }
    .team-description{
        color: var(--NAVY-BLUE, #2E2F42);
            text-align: center;
            /* Header 2 */
            font-family: 'Roboto', sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.11;
            /* 111.111% */
            letter-spacing: 0.72px;
            text-transform: capitalize;
            margin-bottom: 72px;
    }

             .team-li{
                background-color: #FFFFFF;
                display: flex;
                width: calc((100% - 72px) / 4);
                border-radius: 0px 0px 4px 4px;
                padding: 32px 0;
             }

         .biographies{
            gap: 24px;
            display: flex;
         }


    .names{
        color: var(--NAVY-BLUE, #2E2F42);
            /* Header 3 */
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 120% */
            letter-spacing: 0.4px;
            text-align: center;
            margin-bottom: 8px;
    }
    .profession{
        color: var(--SLATE, #434455);
            /* Body */
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.32px;
            text-align: center;

    }

    .products{
        color: var(--NAVY-BLUE, #2E2F42);
            font-family: 'Roboto', sans-serif;
            /* Header 2 */
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.11;
            /* 111.111% */
            letter-spacing: 0.72px;
            margin-bottom: 72px;
             
    }

    .service{
        color: var(--NAVY-BLUE, #2E2F42);
            /* Header 3 */
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            /* 120% */
            letter-spacing: 0.4px;
            margin-bottom: 8px;
    }

    .view{
        color: var(--SLATE, #434455);
            /* Body */
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.32px;
    }

    .bottom{
        background: var(--NAVY-BLUE, #2E2F42);
        padding: 100px 0;

    }
    .description-bottom{
        color: var(--CLOUD, #F4F4FD);
            /* Body */
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.32px;
    }
        .logotype-studio{
            color: var(--CLOUD, #F4F4FD);
        }

        .span-footer{
            color: #f4f4fd;
        }

       .page-header{
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
        border-bottom: 1px solid #e7e9fc;
        box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
       }

       .div-header{
        display: flex;
        align-items: center;
       }
       .container{
        width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
       }
       img{
        display: block;
       }

       .main-navigation{
        display: flex;
        align-items: center;
       }
       

        
       .li-adder{
        display: flex;
        gap: 40px;
    }

    .contacts{
        display: flex;
        gap: 40px;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a{
        text-decoration: none;
    }
        .menu-nav{
            display: flex;
            gap: 40px;
        }

        .menu-item{
             
            gap: 40px;
        }

        .team-div{
            padding: 32px 0;
            width: calc((100% - 72px) / 4);
                border-radius: 0px 0px 4px 4px;

        }

        .portfolio{
            padding-top: 120px;
                padding-bottom: 120px;

        }

        .options{
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 48px;
        }

        .type-of-service{
            width: calc((100% - 48px) / 3);
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 48px;
        }

        .div-portfolio{
            padding: 32px 16px;
            border: 1px solid #e7e9fc;
            border-top: none;
            margin-bottom: 8px;
        }

        .logotype{
            display: inline-block;
            margin-bottom: 16px;
        }
        .description-bottom{
            max-width: 264px;
        }
.li-addr{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
       .current{}


          